h1{
    color: white;
    background-color: rgb(24, 179, 140);
    font: sans-serif;
    text-align: center;
}
h2{
    font:sans-serif;
    color: rgb(0, 0, 0);
}
#image{
    float: left;
    margin-right: 0.7cm;
    border-style: solid;
    border-color: rgb(24, 179, 140);
    background-color: wheat;
    
}

/* https://www.instagram.com/craftaholic_eshop/ */